//background of app window
$background-color: #d9e7ff;

//app window's body color
$app-color: #f8feff;

//app window's sidebar color
$sidebar-color: #151922;

$sdsa: #4c588a, #8d4646, #448d54, #8b5e2a, #914680, #3e2042, #4d2020, #1f1e42, #386472;

$blues: #3445df #5053ce #5858b3 #2f78ff #1c47bd #212c68 #0d3279 #4c7eda #acd1f3 #2e394d #1e2d49 #2e434d